/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
.text-white{
    color:#fff !important;
}
.full-right{
    float: right !important;
}
/* Common */

.btn{
    border: none;
    background-color: #000;
    color: #fff;
    padding: 11px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}
.mt-32{
    margin-top: 32px;
}
.text-center{
    text-align: center !important;
}
#main{
    
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block; 

}
#nav li{
   
    position: relative;  
}
#nav .nav-arrow-down{
    font-size: 12px;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration:none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    position: absolute;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;  
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    color: #fff;
    padding: 0px 21px;
}

#header .search-btn:hover{
    background-color: #f44336;
    padding: 0 24px;
    cursor: pointer;    
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}   

#header .mobile-menu-btn:hover{
    background-color: #ccc
}

#header .menu-icon,
#header .search-icon{
    font-size: 20px;
    color: #fff;
    line-height: 46px;
}
#slider{
    position: relative;
    margin-top: 46px; 
    padding-top: 50%;
    background: url('/w3-band/assets/img/slider/slider1.jpg') top center /cover no-repeat;
}


#slider .text-content{
    position:absolute;
    bottom: 37px;
    color: #fff;
    text-align: center;
    transform: translate(-50%);
    left: 50%;   
}
#slider .text-heading{
   font-weight: 500;
    }
    
#slider .text-description{
    margin-top: 25px;

}



#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px;
}
 
#content .section-heading {
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    text-align: center;
    padding-top: 16px;
    font-style: italic;
    font-size: 15px;
    color: #ccc;
}

#content .about-text{
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
    padding-top: 15px;
}

.memberband{
    margin-top: 32px;
}


.memberband .membername{
    font-size: 15px;
    margin-bottom: 15px;
}

.memberband .img-member{
    width: 159px;
    border-radius: 4px;

}
.tour-ticket{
    background-color: #000;
}

.tour-ticket .tour-place{

    background-color: #fff;
    width: 100%;
    height: 110px;
    margin-top: 30px;
}
.tour-ticket .tour-place li{

    padding: 9px 16px;
    font-size: 15px;
    color: #757575;
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.solt-out{
    background-color: #f44336;
    color: #fff;
    padding: 0px 8px;
    margin-left: 16px;

}

.quantity{
    float: right;
    background-color: #000;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
}

.section-sub-heading .text-white{
    color: rgb(255, 255, 255, 0.5)!important;
}
.place-list{
    margin-top: 16px;
}

.body-place{
    background-color: #fff;
    font-size: 15px;
    width: 100%;
    height: 204px;
    padding: 16px;
}
.place-img{
    width: 100%;
    display: block;
}

.place-time{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.5);  
}
.place-img:hover{
    opacity: 0.7;
}

.place-descp{
    margin-top: 15px;
    margin-bottom: 27px;

}

.btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

#footer{
    
}

.modal{
    position:fixed;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display:none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
}

.modal-close {
    float: right;
    padding: 16px;
    color: #fff;
    font-size: 15px;
}

.modal-close:hover{
    background-color:#ccc;
    color: #000;
    cursor: pointer;
}

.modal-heading {
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 42px;
    letter-spacing: 5px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 24px;
    padding: 13px;
}

.modal-body-ticket {
    padding: 16px;
}

button#modal-pay {
    width: 100%;
    background-color: #009688;
    padding: 18px;
    color: #fff;
    border: none;
}
button#modal-pay:hover{
    opacity: 0.5;
    cursor: pointer;
}
.modal-footer {
    float: right;
    padding: 20px;
    font-size: 15px;
}

.modal-footer a{
    color: blue;
}

/* Contact-form */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info a{
    color: #553def;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-info i[class*=ti-]{
    display: inline-block;
    width: 30px;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-img img{
    width: 100%;
}
#footer {
    text-align: center;
    padding: 64px 16px;
}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 24px;
}
#footer .socials-list a:hover,
#footer .coppy-write a:hover{
    color: rgba(0, 0, 0, 0.3);
}
#footer .coppy-write{
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6); 
}   
#footer .coppy-write a{
    color: rgba(0, 0, 0, 0.6);
    
}
